* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turn {
    padding: 0.5rem 1rem;
    border: 2px solid blue;
    border-radius: 0.2rem;
}

.timer {
    padding: 0.5rem 1rem;
    border: 2px solid blue;
    border-radius: 0.2rem;
}

.restart {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;

    &:hover {
        background-color: black;
    }
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 4rem);
}

.cell {
    height: 4rem;
    width: 4rem;
    border: 2px solid black;

    &:hover{
        opacity: 0.5;
        border-color: blue;
    }
}

.correct-select {
    background-color: green;
}

.wrong-select {
    background-color: red;
}
